# Python cache
__pycache__/
*.pyc

# Virtual environment
tf_env/
venv/
.env/

# Dataset & test folders
Dataset/
test/

# Large model weights
weights/
*.h5
*.pt
*.pth

# Mac files
.DS_Store

# Logs
*.log
